<h1><%= message? message: 'Error' %></h1>
<h2><%= error.status? error.status: 'Error 400' %></h2>
<!-- <pre><%= error.stack? error.stack: '' %></pre> -->
<p><%= error.message? error.message: '' %></p>
<p><a href="/">Go to Home</a></p>
